<ion-view ng-controller="LoginCtrl" class="bg-image">
    <ion-content>
        <div class="list">
            <br/><br/><br/><br/>
            <center >
                    <h1 class="white-text">ttmm</h1>
                    <h5 class="white-text">your money will always be yours</h5>
            </center>
            <br/><br/>
            <button class="button button-block button-assertive white-text" ng-click="signIn(user)">
                <i class="ion-social-googleplus"> </i> sign in with google
            </button>
            <button class="button button-block button-positive white-text" ng-click="fbLogin()">
                <i class="ion-social-facebook"> </i> sign in with facebook
            </button>
       
        </div>
    </ion-content>
</ion-view>
