<ion-view ng-controller="LoginCtrl as vm">
    <ion-header-bar class="bar-calm">
        <div class="buttons">
            <h1 class="title">TTMM</h1>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <button class="button button-block button-assertive button-outline" ng-click="vm.signIn(user)">
                <i class="ion-social-googleplus"> </i> sign in with google
            </button>
            <button class="button button-block button-positive button-outline" ng-click="vm.signIn(user)">
                <i class="ion-social-facebook"> </i> sign in with facebook
            </button>
        </div>
    </ion-content>
</ion-view>
