<ion-view ng-controller="SignUpCtrl">
    <ion-header-bar class="bar-royal">
        <div class="buttons">
            <button class="button button-clear ion-android-arrow-back" ui-sref="welcome"> back
            </button>
            <h1 class="title">Sign Up</h1>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-person"></i> Username</span>
                <input type="text" ng-model="userData.username" placeholder="Choose Username" autofocus>
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-key"></i> Password</span>
                <input type="text" ng-model="userData.password" placeholder="Password" autofocus>
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-ios7-email"></i> Email</span>
                <input type="text" ng-model="userData.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-ios7-flag"></i> Country</span>
                <input type="text" ng-model="userData.country" placeholder="Country">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-iphone"></i> Mobile No</span>
                <input type="text" ng-model="userData.mobileNo" placeholder="Mobile (optional)">
            </label>
            <button class="button button-block button-outline button-royal" ng-click="userSignUp(userData)">
                <b> Sign Up </b>
            </button>
        </div>
    </ion-content>
</ion-view>
