<ion-view ng-controller="ExpenseDetailsCtrl">
    <ion-header-bar class="bar-royal">
        <div class="buttons">
            <button class="button button-clear ion-android-arrow-back" ui-sref="tab.budget"> back
            </button>
            <h1 class="title">{{expenseMonth}} </h1>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <b>Total Expenses = {{totalMonthlySum}} Rs.</b>
            </div>
            <div ng-repeat="expenses in expenseDetails ">
                <div class="item item-button-right" ng-repeat="expense in expenses | orderBy: '-createdAt'">
                    <h3>{{expense.expenseName}}</h3>
                    <p>
                        <small>{{expense.expenseDescription}}, <br/>
                            Amount Spent :- <b>{{expense.expenseAmount}} Rs.</b>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
