<ion-tabs class="tabs-icon-top tabs-color-active-royal tabs-stable">
    <!-- Settings Tab -->
    <ion-tab title="events" icon="icon ion-navicon" href="#/tab/events">
        <ion-nav-view name="tab-events"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="budget" icon="icon ion-cash" href="#/tab/budget">
        <ion-nav-view name="tab-budget"></ion-nav-view>
    </ion-tab>

    <!-- Notification Tab -->
    <ion-tab title="notifications" icon="icon ion-ios7-bell-outline" href="#/tab/notification">
        <ion-nav-view name="tab-notification"></ion-nav-view>
    </ion-tab>


    <!-- Settings Tab -->
    <ion-tab title="account" icon="icon ion-ios7-person-outline " href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
