<ion-view>
    <ion-header-bar class="bar-royal">
        <div class="buttons">
            <b>TTMM</b>
            <h1 class="title">Make Expense</h1>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Expense For</span>
                    <input type="text" placeholder="event name" ng-model="eventDetails.eventName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="description" ng-model="eventDetails.eventDescription">
                </label>
                <label class="item item-input">
                    <span class="input-label">Spend Amount</span>
                    <input type="text" placeholder="amount" ng-model="eventDetails.budgetAmount">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="eventDetails.endDate">
                </label>
                <br/>
                <center>
                    <button class="button button-royal" ng-click="editEvent()"><i class="ion-clock"></i> Make Expense</button>
                    <button class="button button-stable" type="reset">Clear</button>
                </center>
            </div>
        </form>
    </ion-content>
</ion-view>
