<ion-view ng-controller="EditEventCtrl">
    <ion-header-bar class="bar-royal">
        <div class="buttons">
            <a class="button  button-clear icon ion-chevron-left"
                    href="#/events/event-details/{{eventId}}"> Back
            </a>
            <h1 class="title">Edit Event</h1>
            <a class="button button-icon ion-trash-a" ng-click="removeEvent()"></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Event Name</span>
                    <input type="text" placeholder="event name" ng-model="eventDetails.eventName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="description" ng-model="eventDetails.eventDescription">
                </label>
                <label class="item item-input">
                    <span class="input-label">Expected Budget</span>
                    <input list="budget-amount" placeholder="amount" ng-model="eventDetails.budgetAmount">
                    <datalist id="budget-amount">
                        <option value="1000"></option>
                        <option value="2000"></option>
                    </datalist>
                </label>
                <label class="item item-input">
                    <span class="input-label">End Date</span>
                    <input type="text" placeholder="e.g. 2015-12-21" ng-model="eventDetails.endDate">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contributors</span>
                    <input type="text" placeholder="contacts" ng-model="eventDetails.eventContributors">
                </label>
                <br/>
                <center>
                    <button class="button button-royal" ng-click="editEvent()"><i class="ion-clock"></i> Edit Event</button>
                    <button class="button button-stable" type="reset">Clear</button>
                </center>
            </div>
        </form>
    </ion-content>
</ion-view>